#tituloprincipal{
    color:red;
    text-align: center;
    font-size: 50px;
}

.subtitulo{
    color:black;
    text-align: left;
    font-size: 30px;
}
.corpodotexto{
    color:black;
    text-align: left;
    font-size: 20px;
}

body{
    background-color: rgb(245, 239, 239);
}